<div align="center" class="digg_pagination">
	<%= will_paginate comments %>
</div>
<% comments.each do |comment| %>
	<%= render(partial: 'comments/comment', object: comment) %>
<% end %>
<div align="center" class="digg_pagination">
	<%= will_paginate comments %>
</div>