<%= render 'shared/page_title', title: "showing all recipes" %>


 <div class="digg_pagination" style="padding-left: 450px;">
    <%= will_paginate %>
 </div>
<%= render 'recipe', obj:@recipes %>
 <div class="digg_pagination" style="padding-left: 450px;">
    <%= will_paginate %>
 </div>