<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4 bgcolor">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1 text" >Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-outline-white btn-rounded" style="color: #fff;" >Sign up!</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text" >© 2020 Copyright:
    <a href="http://web-recipes.herokuapp.com/" class="text"> web-recipes.herokuapp.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->